*{
    margin:0px;
    padding:0px;
    
}
h1{
    font-family: lato;
}
.Header-section{
    background-color: rgba(229, 84, 115, 0.10);
}
.Header-section  img{
    width:400px;
    padding-top: 20px;
}
.head-content{
    max-width: 1140px;
    display: flex;
    margin:auto;
}
.head-left{
    padding-top:150px;
    padding-right: 170px;
    

}
.head-left h1{
    color: #272727;
font-family: Lato;
font-size: 40px;
font-style: normal;
font-weight: 300;
line-height: normal;
}
.head-left p{
    margin-top: 20px;
    color: rgba(39, 39, 39, 0.60);
    text-align: center;
    font-family: Lato;
    font-size: 15px;
    font-style: normal;
    font-weight: 400;
    line-height: 20px;
}
.btn{
   
    margin-top:20px;
    display: inline-flex;
padding: 20px 43px;
align-items: flex-start;
gap: 10px;
border-radius: 8px;
background: #E55473;
border:none;
}
.btn a{
    color:wheat;
    text-decoration: none;
    font-weight: 400;
    font-size: 20px;
}

/* end header section */

.featured-section h3{
text-align: center;
margin-top: 100px;


color: #272727;

font-family: Lato;
font-size: 40px;
font-style: normal;
font-weight: 800;
line-height: normal;
}
.featured-section p{
text-align: center;
color: rgba(39, 39, 39, 0.60);
font-family: Lato;
font-size: 15px;
font-style: normal;
font-weight: 300;
line-height: 25px;
margin-top:20px;
}
.flower-section{
    display: flex;
    justify-content: center;
    margin-top:20px;
}
.fl-1{
    border-radius: 300px 300px 0px 0px;
    background: rgba(167, 33, 98, 0.15);
    padding:10px 10px 0px 10px;
    margin:10px;
}
.fl-2{
    border-radius: 300px 300px 0px 0px;
background: rgba(5, 151, 160, 0.15);
padding:10px 10px 0px 10px;
margin:10px;

}
.fl-3{
    border-radius: 300px 300px 0px 0px;
background: rgba(71, 125, 17, 0.15);
padding:10px 10px 0px 10px;
margin:10px;
}







.fl-1 img{
    width:180px;
    height: 200px;
   
    
}
.fl-2 img{
    width:180px;
    height: 200px;
}
.fl-3 img{
    width:180px;
    height: 200px;
}

.tree-name{
    color: #272727;
text-align: center;
font-family: Lato;
font-size: 24px;
font-style: normal;
font-weight: 700;
line-height: 35px;
text-decoration-line: underline;
}
