*{
    margin:0px;
    padding:0px;
    
}
h1{
    font-family: lato;
}
.Header-section{
    background-color: rgba(229, 84, 115, 0.10);
}
.Header-section  img{
    width:400px;
    padding-top: 20px;
}
.head-content{
    max-width: 1140px;
    display: flex;
    margin:auto;
}
.head-left{
    padding-top:150px;
    padding-right: 170px;
    

}
.head-left h1{
    color: #272727;
font-family: Lato;
font-size: 40px;
font-style: normal;
font-weight: 300;
line-height: normal;
}
.head-left p{
    margin-top: 20px;
    color: rgba(39, 39, 39, 0.60);
    text-align: center;
    font-family: Lato;
    font-size: 15px;
    font-style: normal;
    font-weight: 400;
    line-height: 20px;
}
.btn{
   
    margin-top:20px;
    display: inline-flex;
padding: 20px 43px;
align-items: flex-start;
gap: 10px;
border-radius: 8px;
background: #E55473;
border:none;
}
.btn a{
    color:wheat;
    text-decoration: none;
    font-weight: 400;
    font-size: 20px;
}

/* end header section */

.featured-section h3{
text-align: center;
margin-top: 100px;


color: #272727;

font-family: Lato;
font-size: 40px;
font-style: normal;
font-weight: 800;
line-height: normal;
}
.featured-section p{
text-align: center;
color: rgba(39, 39, 39, 0.60);
font-family: Lato;
font-size: 15px;
font-style: normal;
font-weight: 300;
line-height: 25px;
margin-top:20px;
}
.flower-section{
    display: flex;
    justify-content: center;
    margin-top:20px;
}
.fl-1{
    color: #272727;
    text-align: center;
    font-family: Lato;
    font-size: 20px;
    font-style: normal;
    font-weight: 300;
    line-height: 25px;
    
}
.fl-2{
    color: #272727;
    text-align: center;
    font-family: Lato;
    font-size: 20px;
    font-style: normal;
    font-weight: 300;
    line-height: 25px;

}
.fl-3{
    color: #272727;
    text-align: center;
    font-family: Lato;
    font-size: 20px;
    font-style: normal;
    font-weight: 300;
    line-height: 25px;
}







.fl-1 img{
    width:180px;
    height: 200px;
    border-radius: 300px 300px 0px 0px;
    background: rgba(167, 33, 98, 0.15);
    padding:10px 10px 0px 10px;
    margin:10px;
    
}
.fl-2 img{
    width:180px;
    height: 200px;
    border-radius: 300px 300px 0px 0px;
    background: rgba(5, 151, 160, 0.15);
    padding:10px 10px 0px 10px;
    margin:10px;
}
.fl-3 img{
    width:180px;
    height: 200px;
    border-radius: 300px 300px 0px 0px;
    background: rgba(71, 125, 17, 0.15);
    padding:10px 10px 0px 10px;
    margin:10px;
}

.tree-name{
    color: #272727;
text-align: center;
font-family: Lato;
font-size: 24px;
font-style: normal;
font-weight: 700;
line-height: 35px;
text-decoration-line: underline;
}


.wish-section{
    width: 900px;
height: 298px;
border-radius: 8px;
background: rgba(39, 39, 39, 0.05);
margin: auto;
margin-top:100px;
 display: flex;
}

.wish img{

    width:300px;
}
.story-section{
    text-align: center;
    padding-top: 100px;
}

.story-section h4{
    text-decoration: underline;
    font-size: 40px;
    font-weight: 500;
}
#o{
    color:tomato;
}
.story-section p{
    font-size: 20px;
    font-weight: 200px;
    color:#272727
}
.del-section{
    
    height: 500px;
    border-radius: 8px;
background: rgba(229, 84, 115, 0.05);
display: flex;
margin-top:200px;
}
.sale{
    padding-left: 190px;
    padding-top: 200px;
}
.sale h1{
    color: #272727;
font-family: Lato;
font-size: 30px;
font-style: normal;
font-weight: 400;
line-height: normal;
}
.img-se{
   margin-left:400px;
   
}
.sale p{
    color: rgba(39, 39, 39, 0.60);
    text-align: center;
    font-family: Lato;
    font-size: 10px;
    font-style: normal;
    font-weight: 100;
    line-height: 15px;
}


.of{
    color:#E55473;
}
.btn-1{
   
    margin-top:20px;
    display: inline-flex;
padding: 15px 30px;
align-items: flex-start;
gap: 10px;
border-radius: 8px;
background: #E55473;
border:none;
margin-left:150px;
}
.btn-1 a{
    color:wheat;
    text-decoration: none;
    font-weight: 400;
    font-size: 20px;
}
.insta{
    width: 1140px;
margin:auto;
margin-top:100px;

}
.insta-content{
    text-align: center;
}
.insta-content h1{
    color: #272727;
text-align: center;
font-family: Lato;
}
.insta-content p{
    color: rgba(39, 39, 39, 0.60);
text-align: center;
font-family: Lato;
font-size: 18px;
font-style: normal;
font-weight: 200;
line-height: 20px;
}


.flo-sec{
    display: flex;
   margin-top: 100px;
   margin-left: 200px;
}
.flo-sec img{
    width:200px;
    justify-content: center;
    padding:10px;
    

}
.email-section{

background-image: url("Flower Asset/Rectangle 9.png");
height: 300px;
background-size: cover;
background-position: center;
background-repeat: no-repeat;
width:900px;
margin:auto;

margin-top: 100px;
padding-top:200px;

}
.email-content{
   
    margin-left:200px;
}
.email-content h1{
  
color: #272727;

font-family: Lato;
font-size: 30px;
font-style: normal;
font-weight: 400;
line-height: normal;
}
.email-content p{
    color: rgba(39, 39, 39, 0.60);

font-family: Lato;
font-size: 18px;
font-style: normal;
font-weight: 200;
line-height: 10px;
margin-top: 15px;
}
.email-content input{width: 500px;
    height: 34px;
    margin-top: 30px;
    
border:2px solid #E55473;

}

.bt a{
    color:wheat;
    text-decoration: none;
    font-weight: 400;
    font-size: 20px;
}
.bt{
   
    margin-top:20px;
    display: inline-flex;
padding: 15px 30px;
align-items: flex-start;
gap: 10px;
border-radius: 8px;
background: #E55473;
border:none;
margin-left:150px;
}
.footer-section{
    background-color: #111010;
    
height: 249px;
margin-top: 50px;
}
.footer-content{
padding-top: 100px;



}
.footer-content h1{
  color:white;  
font-family: Lato;
font-size: 28px;
font-style: normal;
font-weight: 400;
line-height: normal;
text-align: center;
}
#fl{
    color: #E55473;
}
.footer-content p{
    Copy
color: rgba(255, 255, 255, 0.90);

font-family: Lato;
font-size: 9px;
font-style: normal;
font-weight: 200;
line-height: 15px;
color:white;
text-align: center;
margin-top:10px
}
#all{
    color: rgba(255, 255, 255, 0.40);
text-align: center;
font-family: Lato;
font-size: 8px;
font-style: normal;
font-weight: 200;
line-height: normal;
display: block;
margin-top:10px
}